@model lab3.Models.Dane

<h1>Formularz Rejestracyjny</h1>

<form asp-action="Form" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div>
        <label asp-for="Imie"></label>
        <input asp-for="Imie" class="form-control" />
        <span asp-validation-for="Imie" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Nazwisko"></label>
        <input asp-for="Nazwisko" class="form-control" />
        <span asp-validation-for="Nazwisko" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Hasło"></label>
        <input asp-for="Hasło" class="form-control" />
        <span asp-validation-for="Hasło" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="PotwierdzenieHasła"></label>
        <input asp-for="PotwierdzenieHasła" class="form-control" />
        <span asp-validation-for="PotwierdzenieHasła" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="NrTelefonu"></label>
        <input asp-for="NrTelefonu" class="form-control" />
        <span asp-validation-for="NrTelefonu" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Wiek"></label>
        <input asp-for="Wiek" class="form-control" />
        <span asp-validation-for="Wiek" class="text-danger"></span>
    </div>
    </p>
    <div>
         <label asp-for="Miasto">Miasto</label>
         <select asp-for="Miasto" asp-items="Html.GetEnumSelectList<lab3.Models.Dane.Miasta>()"></select>

    </p>
    </p>
    <button type="submit" class="button">Zarejestruj</button>
    <button type="reset" class="button">Wyczyść</button>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>

<script>
    $(document).ready(function () {
        $("#rejestracjaForm").validate({
            rules: {
                Imie: {
                    required: true,
                    minlength: 2
                },
                Nazwisko: {
                    required: true,
                    minlength: 2
                },
                Email: {
                    required: true,
                    email: true
                },
                Haslo: {
                    required: true,
                    minlength: 8,
                    pattern: /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$/
                },
                PotwierdzenieHasla: {
                    required: true,
                    equalTo: "#Haslo"
                },
                Telefon: {
                    required: true,
                    digits: true,
                    minlength: 9,
                    maxlength: 9
                },
                Wiek: {
                    required: true,
                    range: [10, 80]
                }
            },
            messages: {
                Imie: {
                    required: "Imię jest wymagane",
                    minlength: "Imię musi mieć co najmniej 2 znaki"
                },
                Nazwisko: {
                    required: "Nazwisko jest wymagane",
                    minlength: "Nazwisko musi mieć co najmniej 2 znaki"
                },
                Email: {
                    required: "Adres e-mail jest wymagany",
                    email: "Niepoprawny adres e-mail"
                },
                Haslo: {
                    required: "Hasło jest wymagane",
                    minlength: "Hasło musi mieć co najmniej 8 znaków",
                    pattern: "Hasło musi zawierać co najmniej jedną cyfrę, jedną dużą literę i jedną małą literę"
                },
                PotwierdzenieHasla: {
                    required: "Potwierdzenie hasła jest wymagane",
                    equalTo: "Hasła muszą być takie same"
                },
                Telefon: {
                    required: "Nr telefonu jest wymagany",
                    digits: "Nr telefonu musi składać się tylko z cyfr",
                    minlength: "Nr telefonu musi mieć dokładnie 9 cyfr",
                    maxlength: "Nr telefonu musi mieć dokładnie 9 cyfr"
                },
                Wiek: {
                    required: "Wiek jest wymagany",
                    range: "Wiek musi być pomiędzy 10 a 80 lat"
                }
            }
        });
    });
</script>
